:root {

    /** Color Pallette: */
    --dark-pink: #E82590;
    --light-pink: #ED27F2;
    --main-purple: #A72EDB;
    --blue-purple: #7E27F2;
    --blue: #4325E8;

    /** Fonts:  */
    --barrio: 'Barrio', cursive;
    --frijole: 'Frijole', cursive;
    --display: 'Sedgwick Ave Display', cursive;
    --prism: 'Tilt Prism', cursive;
    --neon: 'Tilt Neon', cursive;
}

.default-font {
    font-family: var(--neon);
}
body{
    height: 100%;
    margin: 0;
    max-width: 100vw;

    background-image: url(./img/hearts.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    /* Credit: 

    Photo by Molly Champion: 
    https://www.pexels.com/photo/multicolor-heart-shaped-candies-3723869/

    */
}

#root {
    height: 100%;
    max-width: 100vw;
}

main {
    min-height: 95vh;
    padding: 1%;
}

.component-title {
    font-family: var(--frijole);
    position: relative;
    text-align: center;
    padding-bottom: 1% ;
}

.component-title::after{
    content: '';
    display: block;
    position: absolute;
    width: 75%;
    left: 12.5%;
    bottom: 0;
    border-bottom: 3px solid black;
}