:root {

    /** Color Pallette: */
    --dark-pink: #E82590;
    --light-pink: #ED27F2;
    --main-purple: #A72EDB;
    --blue-purple: #7E27F2;
    --blue: #4325E8;

    /** Fonts:  */
    --barrio: 'Barrio', cursive;
    --frijole: 'Frijole', cursive;
    --display: 'Sedgwick Ave Display', cursive;
    --prism: 'Tilt Prism', cursive;
    --neon: 'Tilt Neon', cursive;
}

.default-font {
    font-family: var(--neon);
}

#root {
    min-height: 100vh;
}