.custom-form {
    background-color: white;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.custom-label {
    font-family: var(--frijole);
    width: 100%;
    text-align: center;
    color: var(--blue);
}

.custom-placeholder {
    width: 100%;
    text-align: center;
}

.form-button {
    background-color: var(--main-purple) !important;
    border: none !important;
}