.landing {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-header {
    text-align: center;
    font-family: var(--frijole);
    color: var(--blue);
    text-shadow: 2px 2px white;
}

.custom-accordion {
    width: 90vw ;
    font-family: var(--neon);
}