.dining-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#options-form{
    display: flex;
    flex-direction: column;
}

#options-form input {
    text-align: center;
}