.bg-mainpurple {
    background-color: var(--main-purple);
}

.bg-bluepurple {
    background-color: var(--blue-purple) !important;
}

.nav-title-text {
    font-family: var(--frijole);
    color: white !important;
    text-shadow: 2px 2px var(--blue);
}

.nav-link-text {
    font-family: var(--neon);
    color: white;
}